<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/v1-page/v1-nav.css' />
    <link rel='stylesheet' href='/stylesheets/v1-page/v1-interior-list.css' />
  </head>
  <body>
    <div id="interior-list-container">
      <nav class="v1-nav-top">
        <div class="nav-top-logo-div">
          <div class="xs-slide-bar-button visible-xs"><img class="slide-bar-button-img visible-xs" src="/icon/slide_btn.png"></div>
          <a href=/main style=text-decoration:none><img class="homed-logo homed-logo-white hidden-xs" src=/icon/logo_homed_white.png alt="홈디 로고"> <img class="homed-logo visible-xs" src="/icon/homed-white-logo_text.png"></a>
        </div>
        <div class="nav-top-div">
          신청 리스트
        </div>
        <div class="nav-top-div">
          홈디 드라이브
        </div>
        <div class="nav-top-div">
          문서 작업
        </div>
      </nav>
      <div class="interior-list-inner-container">
        <div class="interior-list-table">
          <div class="interior-list-table-title">
            <div class="interior-list-table-title-div interior-list-table-title-div-date">날짜</div>
            <div class="interior-list-table-title-div interior-list-table-title-div-name">이름</div>
            <div class="interior-list-table-title-div interior-list-table-title-div-phone">연락처</div>
            <div class="interior-list-table-title-div interior-list-table-title-div-bill">예산안</div>
            <div class="interior-list-table-title-div interior-list-table-title-div-address">주소</div>
            <div class="interior-list-table-title-div interior-list-table-title-div-status">상태</div>
            <div class="interior-list-table-title-div interior-list-table-title-div-type">타입</div>
          </div>
          <%results.forEach(function(item,index){ %>
          <a href="/v1/web/interiorRequestList/user/<%=item.interiorNo%>">
            <div class="interior-list-table-list">
                <div class="interior-list-talbe-list-div interior-list-table-title-div-date"><%=item.interiorTime%></div>
                <div class="interior-list-talbe-list-div interior-list-table-title-div-name"><%=item.userNm%></div>
                <div class="interior-list-talbe-list-div interior-list-table-title-div-phone"><%=item.userPhone%></div>
                <div class="interior-list-talbe-list-div interior-list-table-title-div-bill"><%=item.interiorBill%></div>
                <div class="interior-list-talbe-list-div interior-list-table-title-div-address"><%=item.userAddress%></div>
                <div class="interior-list-talbe-list-div interior-list-table-title-div-status"><%=item.interiorFlowStatus%></div>
                <div class="interior-list-talbe-list-div interior-list-table-title-div-type"><%=item.interiorType%></a></div>
            </div>
            </a>
          <% }); %>
        </div>
        <div  class="interior-list-table-nav">
            <% if(datas.page>datas.pageSize) { %>
                [<a href="/v1/web/interiorRequestList/1">◀◀</a>]
                [<a href="/v1/web/interiorRequestList/<%=startPage -1%>">◀</a>]
            <% }else{%>
                [<span style="color:gray">◀◀</span>]
                [<span style="color:gray">◀</span>]
            <% } %>

            &nbsp;&nbsp;
            <%for(var i=datas.startPage;i <= datas.endPage;i++){%>
                <% if(i==datas.page){%>
                    [<%=i%>]

                <%}else{%>
                [<a href="/v1/web/interiorRequestList/<%=i%>"><%=i%></a>]
                <% } %>
            <% } %>
            &nbsp;&nbsp;
            <% if(datas.endPage<datas.totalPage){%>
                [<a style="text-decoration:none" href="/v1/web/interiorRequestList/<%=endPage +1%>">▶</a>]
                [<a style="text-decoration:none" href="/v1/web/interiorRequestList/<%=totalPage%>">▶▶</a>]

            <%}else {%>
                 [<span style="color:gray">▶</span>]
                 [<span style="color:gray">▶▶</span>]
            <%}%>
        </div>
      </div>
    </div>
  </body>
</html>