<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/v1-page/v1-nav.css' />
    <link rel='stylesheet' href='/stylesheets/v1-page/v1-interior-list.css' />
  </head>
  <script type="text/javascript">

  </script>
  <body>
    <div id="interior-info-container">
      <nav class="v1-nav-top">
        <div class="nav-top-logo-div">
          <div class="xs-slide-bar-button visible-xs"><img class="slide-bar-button-img visible-xs" src="/icon/slide_btn.png"></div>
          <a href=/main style=text-decoration:none><img class="homed-logo homed-logo-white hidden-xs" src=/icon/logo_homed_white.png alt="홈디 로고"> <img class="homed-logo visible-xs" src="/icon/homed-white-logo_text.png"></a>
        </div>
        <div class="nav-top-div">
          신청 리스트
        </div>
        <div class="nav-top-div">
          홈디 드라이브
        </div>
        <div class="nav-top-div">
          문서 작업
        </div>
      </nav>
      <div class="interior-info-inner-container">
        <p class="inteior-info-container-title">홈디 인테리어 고객 정보</p>
        <div class="user-interior-info-table">
          <div class="user-interior-info-table-row">
            <div class="user-interior-info-title"><p>이름</p> </div>
            <div class="user-interior-info-blank"><p><%=results.userNm%> </p></div>
            <div class="user-interior-info-title"><p>연락처</p></div>
            <div class="user-interior-info-blank"><p><%=results.userPhone%></p></div>
          </div>
          <div class="user-interior-info-table-row">
            <div class="user-interior-info-title"><p>이메일</p></div>
            <div class="user-interior-info-blank"><p><%=results.userEmail%></p></div>
            <div class="user-interior-info-title"><p>신청 타입</p></div>
            <div class="user-interior-info-blank"><p><%=results.interiorType%></p></div>
          </div>
          <div class="user-interior-info-table-row">
            <div class="user-interior-info-title"><p>신청 시간</p></div>
            <div class="user-interior-info-blank"><p><%=results.interiorTime%></p></div>
            <div class="user-interior-info-title"><p>나이</p></div>
            <div class="user-interior-info-blank"><p><%=results.age%></p></div>
          </div>
          <div class="user-interior-info-table-row">
            <div class="user-interior-info-title"><p>주거형태</p></div>
            <div class="user-interior-info-blank"><p><%=results.userHousing%></p></div>
            <div class="user-interior-info-title"><p>주소</p></div>
            <div class="user-interior-info-blank"><p><%=results.userAddress%></p></div>
          </div>
          <div class="user-interior-info-table-row">
            <div class="user-interior-info-title"><p>성별</p></div>
            <div class="user-interior-info-blank"><p><%=results.userSex%></p></div>
            <div class="user-interior-info-title"><p>메시지</p></div>
            <div class="user-interior-info-blank"><p><%=results.userMessage%></p></div>
          </div>
          <div class="user-interior-info-table-row">
            <div class="user-interior-info-title"><p>예산안</p></div>
            <div class="user-interior-info-blank"><p><%=results.interiorBill%></p></div>
            <div class="user-interior-info-title"><p>컨셉</p></div>
            <div class="user-interior-info-blank"><p><%=results.concept%></p></div>
          </div>
          <div class="user-interior-info-table-image-row">
            <div class="user-interior-info-image"><%for (var i =0; i<interiorImages.length; i++) {
              if(interiorImages[i] != 0){%>
              <img src="<%=interiorImages[i]%>">
              <%}}%><%for (var i =0; i<interiorRoomImages.length; i++) {%>
              <img src="<%=interiorRoomImages[i]%>">
              <%}%></div>
          </div>
          <div class="user-interior-info-table-row">
            <div class="user-interior-info-title"><p>오프라인</p></div>
            <div class="user-interior-info-blank"><p><%=results.offline%></p></div>
            <div class="user-interior-info-title"><p>시공 유무</p></div>
            <div class="user-interior-info-blank"><p><%=results.contractors%></p></div>
          </div>
          <div class="user-interior-info-table-row">
            <div class="user-interior-info-title"><p>담당자</p></div>
            <div class="user-interior-info-blank"><p><%=results.manager%></p></div>
            <div class="user-interior-info-title"><p>담당자 번호</p></div>
            <div class="user-interior-info-blank"><p><%=results.managerPhone%></p></div>
          </div>
          <div class="user-interior-info-table-row">
            <div class="user-interior-info-title"><p>홈스타일링 공간 수</p></div>
            <div class="user-interior-info-blank"><p><%=results.spaceNo%></p></div>
            <div class="user-interior-info-title"><p>견적 금액</p></div>
            <div class="user-interior-info-blank"><p><%=results.interiorEstimate%></p></div>
          </div>
          <div class="user-interior-info-table-row">
            <div class="user-interior-info-title"><p>진행 가능 기간</p></div>
            <div class="user-interior-info-blank"><p><%=results.stylingPeriod%></p></div>
            <div class="user-interior-info-title"><p>진행 상태</p></div>
            <div class="user-interior-info-blank"><p><%=results.interiorFlowStatus%></p></div>
          </div>
          <div class="user-interior-info-table-row">
            <div class="user-interior-info-title"><p>이사유무</p></div>
            <div class="user-interior-info-blank"><p><%=results.userMove%></p></div>
            <div class="user-interior-info-title"><p>시공유무</p></div>
            <div class="user-interior-info-blank"><p><%=results.userConstruction%></p></div>
          </div>
          <div class="user-interior-info-table-row">
            <div class="user-interior-info-title"><p>거주 정보</p></div>
            <div class="user-interior-info-blank"><p><%=results.userHousing%></p></div>
            <div class="user-interior-info-title"><p>연락시간</p></div>
            <div class="user-interior-info-blank"><p><%=results.phoneTime%></p></div>
          </div>
          <div class="user-interior-info-table-row">
            <div class="user-interior-info-title"><p>유입 경로</p></div>
            <div class="user-interior-info-blank"><p><%=results.funnel%></p></div>
            <div class="user-interior-info-title"><p>공간정보</p></div>
            <div class="user-interior-info-blank"><p><%-results.spaceInfo%></p></div>
          </div>
          <div class="user-interior-info-table-row">
            <div class="user-interior-info-title"><p>상담 내용</p></div>
            <div class="user-interior-info-blank"><p><%=results.userInfo%></p></div>
          </div>
        </div>
      </div>
      <div class="user-interior-info-table-btns-container">
        <a href="/v1/web/interiorRequestList/1">
          <div class="user-interior-info-table-btn">
            목록 가기
          </div></a>
          <a href="/v1/web/user/consulting/<%=userNo%>">
          <div class="user-interior-info-table-btn">
            상담 작성
          </div></a>
      </div>
    </div>
  </body>
</html>